---
import Layout from '../../layouts/Page.astro';
import { TextSection, Container, FeatureCard } from '@components/odyssey-theme';

import HomeHeroSection from '../../components/sections/heros/HomeHeroSection.astro';

const seo = { title: 'Journal Covers', description: 'PNG covers with PDF & DOI links' };
--- 
<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<div class="feature-card__grid">
				<FeatureCard href="/Research.github.io/public/paper18.pdf" title="JACS 2024" imgSrc="Research.github.io/assets/images/IMG_0373.png">
				</FeatureCard>
			</div>
		</section>

	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style