---
---

<a href="/Research.github.io" class="site-logo">
  <img src="/Research.github.io/assets/images/logo2dd.png" alt="Ian Colliard logo" width="auto" height="auto" />
</a>

<style>
  .site-logo img {
    display: block;
    max-height: 100px; /* adjust size */
    border-radius: --theme-shape-radius;    /* makes it circular */

  }
</style>
