---
import CifViewer from "../../components/CifViewer.jsx";

// List your CIF files here
const cifs = [
  "2055317.cif",
  "structure2.cif"
];
---

<html>
  <head>
    <script src="https://3dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
  </head>
  <body>
    <h1>CIF Ball-and-Stick Structures</h1>
    <!-- Mount the React component for interactivity -->
    <CifViewer cifs={cifs} client:only="react" />
  </body>
</html>