---
import CifTable from "../../components/CIFtable.astro";
import Layout from '../../layouts/Page.astro';
import { TextSection } from '@components/odyssey-theme';

const page = { title: "Crystallography" }; // many themes expect a `page` prop
---
<Layout {page}>
<TextSection>
<h2>Crystal Structures Directory</h2> 
<h3><strong>Current Count: 195 CIFs</strong></h3>
<p><strong>CIFs available only for published structures. Submitted structures are embargoed until publication.</strong></p>
<p><i>Preview GUI under development</i></p>
</TextSection>
  <CifTable />
</Layout>